/* General styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

h2 {
    font-size: 2rem;
}

ul {
    /* padding-left: 2rem;
    list-style-type: square;
    list-style-image: url(example.png);
    list-style-position: inside; */
    list-style: square url(example.png) inside;
}

ul li {
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    background-image: url(star.svg);
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

dl,
p {
    font-size: 1.5rem;
}

li,
p {
    line-height: 1.5;
}

/* Description list styles */

dd,
dt {
    line-height: 1.5;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1.5rem;
}